body {
  background-image: url(./imgs/Без\названия\\(2\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  width: 400px;
  height: 500px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 10px;
  /* css box shadow sayitidan oldim */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#header_f {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px 5px 0px;
  border-radius: 5px;
  box-shadow: rgba(213, 122, 255, 0.747) 0px 2px 8px 0px;
}

#todo_input {
  width: 250px;
  height: 100%;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 18px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.767);
  letter-spacing: 2px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.639);
  font-size: 15px;
  letter-spacing: 2px;
}

#todos_container {
  width: 100%;
  height: 340px;
  /* border: 2px solid red; */
  margin-top: 50px;
  overflow: auto;
}

#todos_container::-webkit-scrollbar {
  display: none;
}

.todo_card {
  height: 50px;
  background-color: rgba(190, 0, 243, 0.429);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 15px;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.edit_b,
.del_b {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.check_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 20px;
  font-family: sans-serif;
}
.btns {
  width: 60px;
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
